/* Colori */

:root{ --main: #F5E391;
        --sec: #7692AB;
        --text:#343434;
    }

.text-color{
    color:var(--text) !important; 
}
.text-main{color: var(--main);
}

.text-sec{color: var(--sec);
}

.bg-main{background-color: var(--main)}

.bg-sec{background-color: var(--sec)}

/* Font */

*{font-family: 'Cabin', sans-serif;
}

h1, h2, h3, h4, h5, h6{font-family: 'Ubuntu', sans-serif;}





/* Body */



body{
    margin-left: 15%;
    margin-right: 15%;

}


@media screen and (max-width: 767px) {
    body{
        margin-left: 0px;
        margin-right: 0px;
    }
}

.search-bar{
    width: 53vw !important;
}
.btn-custom{
    background-color: var(--sec);
    border-radius: 10px;
    font-size: 25px;
    width: 150px;
    height: 50px;
    border: 2px solid var(--main);
    font-weight: bold;
}



.btn-custom:focus {
    
    box-shadow: 0 0 0 0.10rem rgb(245 227 144 / 100%);
}


.btn-custom:hover{
    
    border: 2px solid var(--sec);
    color: var(--sec);
    background-color: var(--main);
  
    
    
}

.contatti{
    font-size: 25px;
    

    
}

.contatti:hover{
    color: var(--main);

}

.accedi{
    font-size: 25px;
    

}

.accedi:hover{
    color: var(--main);
}

.btn-custom-search{
    background-color: var(--sec);
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px;
    border: 2px solid var(--sec);
}



.search-bar{
    border-top-left-radius: 0px;
    border-bottom-left-radius:0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px;

}

.drop-categorie{
    border: 2px solid var(--sec);
    border-top-left-radius: 0px;
    border-bottom-left-radius:0px;
    border-left: 0px;
    background-color: var(--sec);
    
}

.drop.categorie:hover{
    color: var(--main) !important;
}

.no-decoration{
    text-decoration: none !important;
}

.presto{
    font-family: 'Permanent Marker', cursive; 
    font-size: 55px;
}

.social:hover{
    color: var(--sec);

}

.card-custom{
    width: 250px;
    border:none;
    box-shadow: 2px 2px 5px;
    border-radius: 10px;
    border-bottom: none !important;
}

.ph{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 2px solid var(--sec);

}

.card-body-custom{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.border{
    border-bottom: 1.5px solid var(--sec)!important;
    border-top: 1.5px solid var(--sec)!important;


}

.fad{
    color:var(--sec);
}

.list{
    list-style:none !important;
}

.card-img-top{
    border-radius: 10px;

}